h1.titulo {
   margin-top: 0;
   font-size: 2em;
   margin-bottom: 0.8em;
   font-family: 'Lato', sans-serif;
}

.btn-edit {
    color: #fff;
    background-color: #6f5499;
    border-color: #6f5499;
}

.btn-edit:hover {
    color: #fff;
    background-color: #B287F6;
    border-color: #B287F6;
    color: #fff!important;
}

h1.titulo.folio {
    color: #6f5499;
    border-bottom: 4px solid #6f5499;
}

h1.titulo.huesped {
    color: #ED5548;
    border-bottom: 4px solid #ED5548;
}

h1.titulo.cliente {
    color: #0072B5;
    border-bottom: 4px solid #0072B5;
}

h1.titulo.cargo {
   color: #5cb85c;
   border-bottom: 4px solid #5cb85c;
}

h1.titulo.habitacion {
   color: #eea236;
   border-bottom: 4px solid #eea236;
}

h1.titulo.estadia {
   color: #007F86;
   border-bottom: 4px solid #007F86;
}

h1.titulo.reserva {
   color: #D35400;
   border-bottom: 4px solid #D35400;
}

h1.titulo.pais {
   color: #2C3E50;
   border-bottom: 4px solid #2C3E50;
}

h3.titulo {
  margin-top: 1em!important;
  color: #007F86;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  border-bottom: 1px solid #007F86;
  margin-bottom: 1em;
}

h3.destacado {
    margin-top: 1em!important;
    color: #007F86;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: none;
    margin-bottom: 1em;
}

.btn-purple {
    color: #fff;
    background-color: #6f5499;
    border-color: #6f5499;
}

.btn-purple:hover {
    Color:#fff!important;
    background-color: #B287F6;
    border-color: #B287F6;
}

hr.separador {
    color: #007F86;
    border-bottom: 1px solid #007F86;
}

.col-lg-12.bottom {
    margin-top: 2em;
}

.col-lg-8.reserva {
    margin-bottom: 1.5em;
}

td.opciones  {
    float: right;
}
